/* fonts *********************************************/

/* Figtree */
@font-face {
    font-family: 'Figtree';
    src: url('../assets/fonts/Figtree/Figtree-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('../assets/fonts/Figtree/Figtree-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('../assets/fonts/Figtree/Figtree-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Noto Serif */
@font-face {
    font-family: 'Noto Serif';
    src: url('../assets/fonts/Noto Serif/NotoSerif-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../assets/fonts/Noto Serif/NotoSerif-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../assets/fonts/Noto Serif/NotoSerif-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../assets/fonts/Noto Serif/NotoSerif-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* variables *********************************************/

:root {
    /* Colours */
    --pri-bg-col: #ff5500;
    --sec-bg-col: #ff3300;
    --ter-bg-col: #ff1100;
    --qua-bg-col: #222;
    --pri-col: #fff;

    /* Typography */
    --font-pri: 'Noto Serif', serif;
    --font-sec: 'Figtree', sans-serif;
}

/* resets/presets *********************************************/

body {
    margin: 0;
    padding: 25px;
    font-family: var(--font-sec);
}

hr {
    all: unset;
}

h1, h2 {
    font-family: var(--font-pri);
}

ul {
    all: unset;
    list-style: none;
}

/* highlight *********************************************/

.highlight__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 50px;
}

.highlight__card {
    position: relative;
    width: 300px;
    height: 400px;

    perspective: 1000px;
    cursor: pointer;
}

.highlight__content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: linear-gradient(45deg, var(--pri-bg-col), var(--qua-bg-col));

    color: var(--pri-col);
    text-align: center;

    border-radius: 15px;
    transform-style: preserve-3d;

    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);

    transition: all 0.3s ease-in-out;
}

.highlight__card:hover .highlight-content {
    box-shadow: 0px 15px 40px rgba(255, 85, 0, 0.5);
}

.cta {
    padding: 10px 20px;
    border: none;
    cursor: pointer;

    color: var(--pri-col);
    font-size: 18px;
    background: linear-gradient(90deg, var(--pri-bg-col), var(--sec-bg-col));

    transition: background 0.3s, transform 0.3s;
}

.cta:hover {
    background: linear-gradient(90deg, var(--sec-bg-col), var(--ter-bg-col));
    transform: scale(1.1);
}